workflows/aeKrMUWd454lAMUp.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract List",
            "type": "main",
            "index": 0
          },
          {
            "node": "No operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Keyword": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Set Output Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Output Fields": {
      "main": [
        [
          {
            "node": "Organise data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has No Website?": {
      "main": [
        [
          {
            "node": "Append Items (no website & no email)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Append Items (no website & no email)",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge items with HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge items with HTML": {
      "main": [
        [
          {
            "node": "Scrape homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge items with HTML",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Get Website HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No operation, do nothing": {
      "main": [
        []
      ]
    },
    "Organise data": {
      "main": [
        [
          {
            "node": "Has No Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Website HTML": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape homepage": {
      "main": [
        [
          {
            "node": "Clean emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Items (no website & no email)": {
      "main": [
        [
          {
            "node": "Append Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean emails": {
      "main": [
        [
          {
            "node": "Append Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Append Items": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Format Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-22T15:08:15.196Z",
  "id": "aeKrMUWd454lAMUp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Review AI Prospecting",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -160
      ],
      "id": "226661a5-65b9-441d-908e-7edccbb55a68",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "=https://www.google.com/maps/search/{{$json.query}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -140
      ],
      "id": "3b82ab85-9de0-4dea-bc0b-79b1947a9b63",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -140
      ],
      "id": "38d4efc5-79f3-40c9-acdb-90624d0e9815",
      "name": "Format Keyword"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        -140
      ],
      "id": "e51b26cb-04ba-4276-81ce-f105b76f370a",
      "name": "Extract List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        640,
        -140
      ],
      "id": "2558a119-7233-4431-9983-243805943a59",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -140
      ],
      "id": "6918fe85-d7b9-4a5c-bdd1-f1c1cf1b4374",
      "name": "Set Output Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c637fa6f-45d7-4523-a313-a87f28135026",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        140
      ],
      "id": "36dabb0b-1abc-4913-a838-3d9baadc063f",
      "name": "Has No Website?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c637fa6f-45d7-4523-a313-a87f28135026",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        260
      ],
      "id": "2c2a8801-b3a0-4b36-8dd3-6814efd53ccd",
      "name": "Has Email?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1220,
        160
      ],
      "id": "56e34d28-e65d-4765-a24c-1167a8e171c3",
      "name": "Append Items (no website & no email)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1220,
        420
      ],
      "id": "689ecafb-97df-4bf0-9ed9-ad08265d3c3b",
      "name": "Merge items with HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        860,
        660
      ],
      "id": "9bff1106-2fb9-4391-b3de-c0a820c07111",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "No operation, do nothing",
      "typeVersion": 1,
      "position": [
        240,
        200
      ],
      "id": "4c23025a-ddfb-46aa-b7d2-8c0f054862f5"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n \nconst regex = /https?:\\/\\/[^\\/]+/g\n \nurls = data.match(regex)\n \nreturn urls.map(url => ({json: {url: url}}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        140
      ],
      "id": "be98b1bc-5903-4f8f-b06a-ff0d4666a5ec",
      "name": "Organise data"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        740
      ],
      "id": "2e058077-23d0-48cc-909c-67aa4fd6d607",
      "name": "Get Website HTML"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n \nconst regex = /https?:\\/\\/[^\\/]+/g\n \nurls = data.match(regex)\n \nreturn urls.map(url => ({json: {url: url}}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        420
      ],
      "id": "234f6563-2f15-4f69-a34d-218ea9bc6f10",
      "name": "Scrape homepage"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data\n \nconst regex = /https?:\\/\\/[^\\/]+/g\n \nurls = data.match(regex)\n \nreturn urls.map(url => ({json: {url: url}}))"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        420
      ],
      "id": "f03e36f5-8691-4a9a-98f5-3e154c9c191d",
      "name": "Clean emails"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1920,
        180
      ],
      "id": "a570007c-a2a4-4cbd-9f34-07bfe15eda8c",
      "name": "Append Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3ff78b4-2f34-42ec-a7dc-b7163f90bb53",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        2140,
        180
      ],
      "id": "a0612006-6f06-4a50-ba01-63e6b5d22a42",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2360,
        180
      ],
      "id": "b89e1f06-fadb-4df5-97be-30bda44e0e40",
      "name": "Google Sheets"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -200,
        -140
      ],
      "id": "6d1e7701-91ae-44d2-bf49-7115c9c2038f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -980,
        -160
      ],
      "id": "b4ac3bca-8700-4fc5-afec-71976d226e14",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        -560,
        40
      ],
      "id": "db7f9c71-1849-4529-82f1-f818ae0cc376"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -760,
        -60
      ],
      "id": "64299abb-eaa6-4ad8-9faa-1cc03c20dabd",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "content": "## Add your queries\nSet your Gemini generated list of queries in this node. You can combine regions and business for specific prospecting.\n",
        "height": 220,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1240,
        -420
      ],
      "id": "5139fea9-9f07-4fc3-9cd8-fd72f8b6edef",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Important\nSet wait time between each query workflow execution.\n\nThe longer the delay the less risk for rate-limits and similar issues.",
        "height": 220,
        "width": 180
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -580,
        -220
      ],
      "id": "1c652a5c-6c23-481b-9a84-c337c577ba36",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "query": "makelaar+Arnhem+Geitenkamp"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-22T16:05:13.834Z",
  "versionId": "bf86fcce-ae29-4126-9ae2-0e02cb424d77"
}