workflows/r631OSFFIWVOPonw.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Add Awaz Contact": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Agents": {
      "main": [
        [
          {
            "node": "Awaz Calls",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zapier: Call Awaz Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Lists": {
      "main": [
        [
          {
            "node": "Add Awaz Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapier: Call Awaz Contact": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Scrape Lead Website (US)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Lead Website (NL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Lead Website (PT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (US)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (US)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (PT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (PT)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (US)": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (NL)": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (PT)": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website (US)": {
      "main": [
        [
          {
            "node": "AI Agent (US)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website (NL)": {
      "main": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website (PT)": {
      "main": [
        [
          {
            "node": "AI Agent (PT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-12T17:13:28.235Z",
  "id": "r631OSFFIWVOPonw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Demo Voice AI",
  "nodes": [
    {
      "parameters": {
        "path": "147ec933-119a-4bdd-b627-7896409b37a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -920,
        -100
      ],
      "id": "8f9e2329-9989-4727-9f5d-b283f48f4950",
      "name": "Webhook",
      "webhookId": "147ec933-119a-4bdd-b627-7896409b37a1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        120
      ],
      "id": "dd92317e-f7d9-4e9f-8a5c-dca36276ae5d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        120
      ],
      "id": "77a0f352-e0bb-4eca-a4ba-c602167a69aa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $('AI Agent (NL)').item.json.output }}"
            },
            {
              "name": "extras.company",
              "value": "={{ $('Webhook').item.json.query.bedrijfsnaam }}"
            },
            {
              "name": "=phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -100
      ],
      "id": "7ae5de5a-ccbb-4b42-a0a0-dffcb3c25af0",
      "name": "Add Awaz Contact",
      "credentials": {
        "httpBasicAuth": {
          "id": "bI6NjDCoBkPkq3bq",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        -100
      ],
      "id": "cd81f0b3-0511-42ad-ae17-74f1ac459ba0",
      "name": "Retrieve Awaz Agents"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/contact_lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        -100
      ],
      "id": "80372955-b053-48cd-b373-324ea8909a89",
      "name": "Retrieve Awaz Lists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22497523/20lqgyx/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        100
      ],
      "id": "3640df18-7df8-4d5e-adb3-9878260c6116",
      "name": "Zapier: Call Awaz Contact"
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (NL) account\n**Login email** 54.car-culler@icloud.com\n**username** voice_ai_demo_nl",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -220
      ],
      "id": "c8f2c95c-8bf2-45ef-828d-f57ab4c585e8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Direct to Awaz\nHave not got it to work for now.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        -380
      ],
      "id": "27cfdc5d-1495-4fd1-9143-561eb93913d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Via Zapier\nNeeds to be renewed every 14 days.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1540,
        0
      ],
      "id": "e09afc4c-2434-4b65-8c6a-62da0d7a99eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (us)",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5ee5e49-b48a-472e-b044-b7ad5a701b04"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27170b7b-19df-4dd3-a9ee-e5da1371ab71",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (nl)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "525f1c33-e01e-4cdf-ac67-644574622760",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (pt)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -660,
        -100
      ],
      "id": "c4f6a6ed-163f-45e6-8a42-a85c4cd61cc1",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (US) account\n**Login email** smiths.fights-5v@icloud.com\n**username** voice_ai_demo_us",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -740
      ],
      "id": "13440a32-cc95-42a4-b067-353e60facd34",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (PT) account\n**Login email** parties.clank-0w@icloud.com\n**username** voice_ai_demo_pt",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "id": "eac5c652-8c7b-4632-9c01-b32aea787827",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/hooks/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent",
              "value": "={{ $json.items[2].id }}"
            },
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "from",
              "value": "+31613715493"
            },
            {
              "name": "datetime",
              "value": "2025-04-13T17:29:23+01:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1620,
        -300
      ],
      "id": "5d8e3d6c-a73e-4cc1-a08a-43caf61b8b27",
      "name": "Awaz Calls",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        -380
      ],
      "id": "a3031a75-900b-47cd-a65a-9d6011bfbd45",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        -380
      ],
      "id": "abd13a3f-bdf9-401a-9734-18453be6954d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        280,
        660
      ],
      "id": "6746730d-d63a-4c18-84b6-e19e1bf4a467",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        440,
        660
      ],
      "id": "9b415e94-072c-411c-834b-0b2d287c08c9",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        -600
      ],
      "id": "0c5946cc-cb50-4c69-b16b-d4d1ac075788",
      "name": "AI Agent (US)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        -100
      ],
      "id": "da135b2f-d135-4df6-8292-8967ff93b03f",
      "name": "AI Agent (NL)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        320,
        440
      ],
      "id": "6e64f22f-158f-4518-ace5-8cd63644d6e5",
      "name": "AI Agent (PT)"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_eARdhx8ngIZntuFWDbe4xH9JVEV0y20AMLwZ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "506f15b8-604a-4417-9e93-08f9f5107787",
      "name": "Scrape Lead Website (US)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        -600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_rpbqb3xgsBeyac4iMiAmZeHfigIhpV16yKQw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "543ae0ea-d3e7-4549-a934-dcd8a55f2950",
      "name": "Scrape Lead Website (NL)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        -100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_WmbtPdpWbWkpWKAMz9HuHWWDLFHcnA3pvoGw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "edd0db57-98db-4478-bc0e-bc6f0a5edf4a",
      "name": "Scrape Lead Website (PT)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        440
      ],
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-24T17:46:31.826Z",
  "versionId": "c4dcd9b8-e92b-4c0d-9c19-d6957aad4c69"
}