workflows/r631OSFFIWVOPonw.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Zapier: Call Awaz Contact": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Scrape Lead Website (US)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Lead Website (NL)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Scrape Lead Website (PT)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (US)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (US)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (PT)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (PT)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (US)": {
      "main": [
        []
      ]
    },
    "AI Agent (NL)": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (PT)": {
      "main": [
        []
      ]
    },
    "Scrape Lead Website (US)": {
      "main": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website (NL)": {
      "main": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website (PT)": {
      "main": [
        [
          {
            "node": "AI Agent (NL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Awaz Contact": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Lists": {
      "main": [
        [
          {
            "node": "Add Awaz Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Awaz Contact1": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Agents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Lists1": {
      "main": [
        [
          {
            "node": "Add Awaz Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Agents1": {
      "main": [
        []
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Zapier: Call Awaz Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zapier: Call Awaz Contact1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zapier: Call Awaz Contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-12T17:13:28.235Z",
  "id": "r631OSFFIWVOPonw",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Demo Voice AI",
  "nodes": [
    {
      "parameters": {
        "path": "147ec933-119a-4bdd-b627-7896409b37a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -800,
        -100
      ],
      "id": "8f9e2329-9989-4727-9f5d-b283f48f4950",
      "name": "Webhook",
      "webhookId": "147ec933-119a-4bdd-b627-7896409b37a1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-8b-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        460,
        180
      ],
      "id": "dd92317e-f7d9-4e9f-8a5c-dca36276ae5d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        620,
        180
      ],
      "id": "77a0f352-e0bb-4eca-a4ba-c602167a69aa",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22654626/2py5kh2/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $json.output }}"
            },
            {
              "name": "extras.company",
              "value": "={{ $('Webhook').item.json.query.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -600
      ],
      "id": "3640df18-7df8-4d5e-adb3-9878260c6116",
      "name": "Zapier: Call Awaz Contact"
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (NL) account\n**Login email** 54.car-culler@icloud.com\n**username** voice_ai_demo_nl",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -220
      ],
      "id": "c8f2c95c-8bf2-45ef-828d-f57ab4c585e8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Direct to Awaz\nHave not got it to work for now.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -860
      ],
      "id": "27cfdc5d-1495-4fd1-9143-561eb93913d9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Call US Agent (Zapier)\nNeeds to be renewed every 14 days.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        -720
      ],
      "id": "e09afc4c-2434-4b65-8c6a-62da0d7a99eb",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (us)",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5ee5e49-b48a-472e-b044-b7ad5a701b04"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27170b7b-19df-4dd3-a9ee-e5da1371ab71",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "=demo voice ai (nl)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "525f1c33-e01e-4cdf-ac67-644574622760",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (pt)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -600,
        -100
      ],
      "id": "c4f6a6ed-163f-45e6-8a42-a85c4cd61cc1",
      "name": "Switch",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (US) account\n**Login email** smiths.fights-5v@icloud.com\n**username** voice_ai_demo_us",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -740
      ],
      "id": "13440a32-cc95-42a4-b067-353e60facd34",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Voice AI Demo (PT) account\n**Login email** parties.clank-0w@icloud.com\n**username** voice_ai_demo_pt",
        "height": 320,
        "width": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ],
      "id": "eac5c652-8c7b-4632-9c01-b32aea787827",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/hooks/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent",
              "value": "={{ $json.items[2].id }}"
            },
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "from",
              "value": "+31613715493"
            },
            {
              "name": "datetime",
              "value": "2025-04-13T17:29:23+01:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -760
      ],
      "id": "5d8e3d6c-a73e-4cc1-a08a-43caf61b8b27",
      "name": "Awaz Calls",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-002",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -660,
        -760
      ],
      "id": "a3031a75-900b-47cd-a65a-9d6011bfbd45",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -500,
        -760
      ],
      "id": "abd13a3f-bdf9-401a-9734-18453be6954d",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -780,
        600
      ],
      "id": "6746730d-d63a-4c18-84b6-e19e1bf4a467",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) API account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -620,
        600
      ],
      "id": "9b415e94-072c-411c-834b-0b2d287c08c9",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -620,
        -980
      ],
      "id": "0c5946cc-cb50-4c69-b16b-d4d1ac075788",
      "name": "AI Agent (US)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        520,
        -100
      ],
      "id": "da135b2f-d135-4df6-8292-8967ff93b03f",
      "name": "AI Agent (NL)",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -740,
        380
      ],
      "id": "6e64f22f-158f-4518-ace5-8cd63644d6e5",
      "name": "AI Agent (PT)"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_eARdhx8ngIZntuFWDbe4xH9JVEV0y20AMLwZ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "506f15b8-604a-4417-9e93-08f9f5107787",
      "name": "Scrape Lead Website (US)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        -600
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_rpbqb3xgsBeyac4iMiAmZeHfigIhpV16yKQw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "543ae0ea-d3e7-4549-a934-dcd8a55f2950",
      "name": "Scrape Lead Website (NL)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -60,
        -100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_WmbtPdpWbWkpWKAMz9HuHWWDLFHcnA3pvoGw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "edd0db57-98db-4478-bc0e-bc6f0a5edf4a",
      "name": "Scrape Lead Website (PT)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -40,
        440
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22654626/2py9de4/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $json.output }}"
            },
            {
              "name": "extras.company",
              "value": "={{ $('Webhook').item.json.query.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        -100
      ],
      "id": "7c4190f8-d1be-4531-b0b1-0aecad3da9a4",
      "name": "Zapier: Call Awaz Contact1",
      "alwaysOutputData": false,
      "executeOnce": true
    },
    {
      "parameters": {
        "content": "## Call NL Agent (Zapier)\nNeeds to be renewed every 14 days.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        -200
      ],
      "id": "91059d28-5cc0-40d0-85be-ca05b0ed6843",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22654626/2py5gxz/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $json.output }}"
            },
            {
              "name": "extras.company",
              "value": "={{ $('Webhook').item.json.query.company }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        440
      ],
      "id": "67e800b0-422e-42ee-8900-cc2fc9d50a26",
      "name": "Zapier: Call Awaz Contact2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Call PT Agent (Zapier)\nNeeds to be renewed every 14 days.",
        "height": 280,
        "width": 260
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1620,
        340
      ],
      "id": "718f46c6-890a-4b19-b4c9-b504796e24d3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $('AI Agent (NL)').item.json.output }}"
            },
            {
              "name": "=phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -1840
      ],
      "id": "ea7fcf46-5b2d-4596-ac41-066210c4ec0d",
      "name": "Add Awaz Contact"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        -1840
      ],
      "id": "8bd7e69b-bc2e-4915-8387-80b30806e35d",
      "name": "Retrieve Awaz Agents"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/contact_lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -1840
      ],
      "id": "da0439ac-ded4-4066-8fe7-09eff4c027f6",
      "name": "Retrieve Awaz Lists",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $('AI Agent (NL)').item.json.output }}"
            },
            {
              "name": "=phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "list",
              "value": "={{ $json.items[2].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        -920
      ],
      "id": "afa30753-2708-490e-b0c0-740f09091b37",
      "name": "Add Awaz Contact1"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        -1000
      ],
      "id": "797c75ab-cdda-4933-8b25-207d66cbe116",
      "name": "Retrieve Awaz Agents1"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/contact_lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 7d2c4ba7-338c-4d52-9279-bc427d4c141e"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1220,
        -920
      ],
      "id": "d3c9090b-960f-48b5-b9c8-d50b6e62a361",
      "name": "Retrieve Awaz Lists1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (us)",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b5ee5e49-b48a-472e-b044-b7ad5a701b04"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "27170b7b-19df-4dd3-a9ee-e5da1371ab71",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "=demo voice ai (nl)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "525f1c33-e01e-4cdf-ac67-644574622760",
                    "leftValue": "={{ $json.query.source }}",
                    "rightValue": "demo voice ai (pt)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        900,
        -100
      ],
      "id": "1805e585-b537-4a1c-b4cd-d02f2eb5309f",
      "name": "Switch1",
      "alwaysOutputData": false,
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-26T13:36:28.963Z",
  "versionId": "3c3606ea-fbe8-4ff2-8aa5-26114339273f"
}