2025/04/frEF1iU55gReL1V8.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Scrape Lead Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Lead Website": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Awaz Contact": {
      "main": [
        [
          {
            "node": "Retrieve Awaz Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Agents": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Zapier: Call Awaz Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Awaz Lists": {
      "main": [
        [
          {
            "node": "Add Awaz Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zapier: Call Awaz Contact": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-04-13T17:15:38.532Z",
  "id": "frEF1iU55gReL1V8",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Demo Voice AI (US)",
  "nodes": [
    {
      "parameters": {
        "path": "772e5cf7-fa2d-4f44-802e-d4fb0e365717",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -220,
        -100
      ],
      "id": "816a205e-6b94-4b59-ac39-04d59aa3a2e5",
      "name": "Webhook",
      "webhookId": "772e5cf7-fa2d-4f44-802e-d4fb0e365717"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/apify~website-content-crawler/run-sync-get-dataset-items?token=apify_api_rpbqb3xgsBeyac4iMiAmZeHfigIhpV16yKQw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"aggressivePrune\": false,\n    \"clickElementsCssSelector\": \"[aria-expanded=\\\"false\\\"]\",\n    \"clientSideMinChangePercentage\": 15,\n    \"crawlerType\": \"playwright:adaptive\",\n    \"debugLog\": false,\n    \"debugMode\": false,\n    \"expandIframes\": true,\n    \"ignoreCanonicalUrl\": false,\n    \"keepUrlFragments\": false,\n    \"proxyConfiguration\": {\n        \"useApifyProxy\": true\n    },\n    \"readableTextCharThreshold\": 100,\n    \"removeCookieWarnings\": true,\n    \"removeElementsCssSelector\": \"nav, footer, script, style, noscript, svg, img[src^='data:'],\\n[role=\\\"alert\\\"],\\n[role=\\\"banner\\\"],\\n[role=\\\"dialog\\\"],\\n[role=\\\"alertdialog\\\"],\\n[role=\\\"region\\\"][aria-label*=\\\"skip\\\" i],\\n[aria-modal=\\\"true\\\"]\",\n    \"renderingTypeDetectionPercentage\": 10,\n    \"saveFiles\": false,\n    \"saveHtml\": false,\n    \"saveHtmlAsFile\": false,\n    \"saveMarkdown\": true,\n    \"saveScreenshots\": false,\n    \"startUrls\": [\n        {\n            \"url\": \"{{ $json.query.website }}\",\n            \"method\": \"GET\"\n        }\n    ],\n    \"useSitemaps\": false\n}",
        "options": {}
      },
      "id": "06cb4712-89af-43fa-9f6f-cab298a39cf8",
      "name": "Scrape Lead Website",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        60,
        -100
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me custom instruction for a Awaz AI calling agent for my client based off of their website.\n\nMake is a sales agent that answers questions, handles objections, does discovery and identifies if its a good fit and books the client in on an appointment.\n\nMake the Awaz AI prompt 200 words.\n\nMake sure to include critical and relevant information from the page text in the training base and knowledge base of the bot of the website.\n\nThe entire website text is down below:\n{{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        280,
        -100
      ],
      "id": "1b9180f0-5e25-4487-b111-6f3328294887",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        220,
        120
      ],
      "id": "bc8e39ad-6753-4407-949b-ecd9deb830e0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "yi8KqlGWFGkOajJj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.text }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        120
      ],
      "id": "0a5563dd-6fb5-41ce-ae38-99713671751b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2e5fc4b1-2ddf-46c1-b9e6-c6d94a6993aa"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "extras.scraped_website_info",
              "value": "={{ $('AI Agent').item.json.output }}"
            },
            {
              "name": "extras.company",
              "value": "={{ $('Webhook').item.json.query.bedrijfsnaam }}"
            },
            {
              "name": "=phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.query.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -420
      ],
      "id": "53c6b4f1-517b-4100-964d-66bb11ac507f",
      "name": "Add Awaz Contact",
      "credentials": {
        "httpBasicAuth": {
          "id": "bI6NjDCoBkPkq3bq",
          "name": "Unnamed credential"
        },
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/agents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2e5fc4b1-2ddf-46c1-b9e6-c6d94a6993aa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -420
      ],
      "id": "14bc1c4e-4e00-4f35-9e9d-022ca6b6acb4",
      "name": "Retrieve Awaz Agents"
    },
    {
      "parameters": {
        "url": "https://api.awaz.ai/v1/contact_lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2e5fc4b1-2ddf-46c1-b9e6-c6d94a6993aa"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        740,
        -420
      ],
      "id": "72214a25-e795-4455-9ad7-5e5782d2c629",
      "name": "Retrieve Awaz Lists"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/22497523/20lqgyx/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -420
      ],
      "id": "6aaa2e97-a3a5-41b2-bf0e-99e1240712f7",
      "name": "Zapier: Call Awaz Contact"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.awaz.ai/v1/hooks/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 2e5fc4b1-2ddf-46c1-b9e6-c6d94a6993aa"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agent",
              "value": "={{ $json.items[2].id }}"
            },
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.query.name }}"
            },
            {
              "name": "phone",
              "value": "={{ $('Webhook').item.json.query.phone }}"
            },
            {
              "name": "from",
              "value": "+31613715493"
            },
            {
              "name": "datetime",
              "value": "2025-04-13T17:29:23+01:00"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        80
      ],
      "id": "201bd7ca-edb4-4947-8d09-837ea7879385",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "disabled": true
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "prochattools",
  "repo_path": "frEF1iU55gReL1V8.json",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-04-13T17:23:18.784Z",
  "versionId": "a2c1fd8e-a558-461b-a97c-4fca5873d540"
}