2025/04/suyhueHOyBPiAnl5.json
{
  "active": true,
  "connections": {
    "Wait 10 Sec.1": {
      "main": [
        [
          {
            "node": "Message 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.15": {
      "main": [
        [
          {
            "node": "Message 1.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.16": {
      "main": [
        [
          {
            "node": "Message 2.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.17": {
      "main": [
        [
          {
            "node": "Message 2.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.18": {
      "main": [
        [
          {
            "node": "Message 3.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.19": {
      "main": [
        [
          {
            "node": "Message 3.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.20": {
      "main": [
        [
          {
            "node": "Message 4.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.21": {
      "main": [
        [
          {
            "node": "Message 4.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.22": {
      "main": [
        [
          {
            "node": "Message 5.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.23": {
      "main": [
        [
          {
            "node": "Message 5.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days1": {
      "main": [
        [
          {
            "node": "4th DND Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Min1": {
      "main": [
        [
          {
            "node": "1st DND Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 7 Days1": {
      "main": [
        [
          {
            "node": "5th DND Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.24": {
      "main": [
        [
          {
            "node": "Message 6.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 Sec.25": {
      "main": [
        [
          {
            "node": "Message 6.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Day1": {
      "main": [
        [
          {
            "node": "3rd DND Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Mins1": {
      "main": [
        [
          {
            "node": "2nd DND Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [6]1": {
      "main": [
        [
          {
            "node": "Message 6.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [5]1": {
      "main": [
        [
          {
            "node": "Message 5.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [4]1": {
      "main": [
        [
          {
            "node": "Message 4.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [3]1": {
      "main": [
        [
          {
            "node": "Message 3.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [2]1": {
      "main": [
        [
          {
            "node": "Message 2.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 [1]1": {
      "main": [
        [
          {
            "node": "Message 1.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st Update": {
      "main": [
        [
          {
            "node": "Wait 1 Min1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2nd Update": {
      "main": [
        [
          {
            "node": "Wait 3 Mins1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3rd Update": {
      "main": [
        [
          {
            "node": "Wait 1 Day1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4th Update": {
      "main": [
        [
          {
            "node": "Wait 3 Days1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5th Update": {
      "main": [
        [
          {
            "node": "Wait 7 Days1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1st DND Status Check": {
      "main": [
        [
          {
            "node": "If Check 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2nd DND Status Check": {
      "main": [
        [
          {
            "node": "If Check 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3rd DND Status Check": {
      "main": [
        [
          {
            "node": "If Check 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4th DND Status Check": {
      "main": [
        [
          {
            "node": "If Check 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5th DND Status Check": {
      "main": [
        [
          {
            "node": "If Check 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 1.1": {
      "main": [
        [
          {
            "node": "If Succes 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 1.2": {
      "main": [
        [
          {
            "node": "If Succes 1.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 2.1": {
      "main": [
        [
          {
            "node": "If Succes 2.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 2.2": {
      "main": [
        [
          {
            "node": "If Succes 2.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 3.1": {
      "main": [
        [
          {
            "node": "If Succes 3.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 4.1": {
      "main": [
        [
          {
            "node": "If Succes 4.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 4.2": {
      "main": [
        [
          {
            "node": "If Succes 4.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 5.1": {
      "main": [
        [
          {
            "node": "If Succes 5.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 5.2": {
      "main": [
        [
          {
            "node": "If Succes 5.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 6.1": {
      "main": [
        [
          {
            "node": "If Succes 6.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 6.2": {
      "main": [
        [
          {
            "node": "If Succes 6.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 1.1": {
      "main": [
        [
          {
            "node": "Wait 3 [1]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 1.2": {
      "main": [
        [
          {
            "node": "1st Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check 1": {
      "main": [
        [
          {
            "node": "Message 2.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check 2": {
      "main": [
        [
          {
            "node": "Message 3.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check 3": {
      "main": [
        [
          {
            "node": "Message 4.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check 4": {
      "main": [
        [
          {
            "node": "Message 5.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Check 5": {
      "main": [
        [
          {
            "node": "Message 6.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 2.1": {
      "main": [
        [
          {
            "node": "Wait 3 [2]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 2.2": {
      "main": [
        [
          {
            "node": "2nd Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 3.1": {
      "main": [
        [
          {
            "node": "Wait 3 [3]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message 3.2": {
      "main": [
        [
          {
            "node": "If Succes 3.2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 3.2": {
      "main": [
        [
          {
            "node": "3rd Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 4.1": {
      "main": [
        [
          {
            "node": "Wait 3 [4]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 4.2": {
      "main": [
        [
          {
            "node": "4th Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 5.1": {
      "main": [
        [
          {
            "node": "Wait 3 [5]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.22",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 5.2": {
      "main": [
        [
          {
            "node": "5th Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.23",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 6.1": {
      "main": [
        [
          {
            "node": "Wait 3 [6]1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Succes 6.2": {
      "main": [
        [
          {
            "node": "6th Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 Sec.25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update DND Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Android Missed Call": {
      "main": [
        [
          {
            "node": "New Missed Call Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Android DND SMS": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New Missed Call Contact": {
      "main": [
        []
      ]
    },
    "GHL Start SMS Demo": {
      "main": [
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "Message 1.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-11T19:03:42.009Z",
  "id": "suyhueHOyBPiAnl5",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "SMS Demo Automation (NL)",
  "nodes": [
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        3460
      ],
      "id": "60734bfc-595f-4f04-8d0c-e3cdbb8e305f",
      "name": "Wait 10 Sec.1",
      "webhookId": "abf117b8-4b4e-4859-a1e4-a8b84ba123ff",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        3320
      ],
      "id": "3da87825-ac4f-4b7d-ad2a-ebcf965f6082",
      "name": "Wait 10 Sec.15",
      "webhookId": "0e62e3a3-30e9-4369-b65c-57da1e5291f5",
      "executeOnce": false,
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -700,
        4120
      ],
      "id": "052b86fc-7c7a-4664-8843-69014fdc932d",
      "name": "Wait 10 Sec.16",
      "webhookId": "66494020-5a7c-497c-a298-9947639a79da",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -40,
        3980
      ],
      "id": "e774ca6b-0536-4b10-8265-c17a4f8d4ed9",
      "name": "Wait 10 Sec.17",
      "webhookId": "101000de-6706-4367-bf27-b241b66b5810",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        4780
      ],
      "id": "8eb4f4a6-803a-47bf-98a2-af58174ebbf2",
      "name": "Wait 10 Sec.18",
      "webhookId": "11f25309-428b-4708-8226-dff6ef95355b",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        0,
        4660
      ],
      "id": "899ccdc3-415a-4317-995f-e46757cbd974",
      "name": "Wait 10 Sec.19",
      "webhookId": "0ff6687c-77fb-49dc-9e1d-3e2eeea3c4d1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        3540
      ],
      "id": "675db628-683c-4eb3-981f-b3c0d8ee59b1",
      "name": "Wait 10 Sec.20",
      "webhookId": "cf7d990b-b9e5-445a-857c-4a3ef2d9884d",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        3420
      ],
      "id": "60e5d9a6-a3eb-4243-9bca-e895bc43db30",
      "name": "Wait 10 Sec.21",
      "webhookId": "b62bea08-3e93-4b3f-a89e-571d5adee6a2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        4160
      ],
      "id": "59219001-19c2-4c7d-b303-74dc0bd3973b",
      "name": "Wait 10 Sec.22",
      "webhookId": "8ab9e613-621f-4c3e-b6f8-79070cbc3106",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        4040
      ],
      "id": "7987c217-58a4-4089-bd98-00ac77904d4f",
      "name": "Wait 10 Sec.23",
      "webhookId": "33b58a02-b742-4099-9c1d-303ace4e0499",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        3600
      ],
      "id": "784a43ff-833c-4bb5-a396-12e9e7b907c1",
      "name": "Wait 3 Days1",
      "webhookId": "c8323024-e0c4-4016-98f3-4549e6be5075"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        260,
        3520
      ],
      "id": "c0460365-2fdd-4886-939c-3cd005822192",
      "name": "Wait 1 Min1",
      "webhookId": "492ce890-0995-48ac-aecf-e961b7bd753c"
    },
    {
      "parameters": {
        "amount": 7,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2400,
        4220
      ],
      "id": "5d8ad9ae-d9ad-4ce1-961a-e7bc0cf7c113",
      "name": "Wait 7 Days1",
      "webhookId": "a1bb37b9-86fb-4bee-a8e4-be637d1c00a6"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        4780
      ],
      "id": "5e08dc55-2d99-48aa-809a-2416e324c9b0",
      "name": "Wait 10 Sec.24",
      "webhookId": "3b95a6af-a93c-459b-80b4-7869fd172230",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2140,
        4660
      ],
      "id": "c434620a-25e2-4a37-8619-0f0c75a26924",
      "name": "Wait 10 Sec.25",
      "webhookId": "8b9846cb-e685-4bc5-8812-3f04fa9eb018",
      "retryOnFail": true
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "days"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        4400
      ],
      "id": "7e432182-1443-4974-a2f6-6f1a08e4051e",
      "name": "Wait 1 Day1",
      "webhookId": "7dd04565-d37d-47c1-86f7-57bea3a79da9"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        4180
      ],
      "id": "1a56742b-0a8c-4fc7-b9cd-c12a020b2679",
      "name": "Wait 3 Mins1",
      "webhookId": "da03b251-59ca-477a-ab86-aa6adcc0f2c6"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        4560
      ],
      "id": "dce14b67-37cf-4b79-9339-a3dc0bb9a8fa",
      "name": "Wait 3 [6]1",
      "webhookId": "1edab697-515d-4b6d-a648-4bf826bbd82c"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        3940
      ],
      "id": "364bce91-b4bd-4fd9-a428-7fb64d4d6ab1",
      "name": "Wait 3 [5]1",
      "webhookId": "f1c3087f-d209-4df0-b54f-11da32278a3d"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1480,
        3320
      ],
      "id": "aeb4839e-0d7d-4b2e-a90a-5448891f360a",
      "name": "Wait 3 [4]1",
      "webhookId": "8354c8f6-5591-4a47-b400-4503fc32bf70"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        4560
      ],
      "id": "e3999c62-0656-41ba-8650-592aafdb0b20",
      "name": "Wait 3 [3]1",
      "webhookId": "a7e8c06a-93fd-45e2-aa82-39c05395e20e",
      "retryOnFail": false
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -700,
        3880
      ],
      "id": "5e9c079f-51f3-4975-87a9-b53a73aec773",
      "name": "Wait 3 [2]1",
      "webhookId": "f6b0d5e1-4fe8-4978-aac2-306f4fc85e47",
      "retryOnFail": false
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -660,
        3240
      ],
      "id": "c7cb4b10-51ae-4e1c-8741-96b2d7072751",
      "name": "Wait 3 [1]1",
      "webhookId": "17764a2e-f893-4973-81d2-a1d7ca43a9b1"
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        0,
        3080
      ],
      "id": "071acd3a-19c5-456f-8e57-0b0b0bad1e18",
      "name": "1st Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message, 2nd message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -40,
        3760
      ],
      "id": "8e35f9dd-cbd4-4a4e-8ffa-1eb034d68597",
      "name": "2nd Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message, 2nd message, 3rd message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        20,
        4400
      ],
      "id": "868dab6a-549e-4e38-8617-a36d7fb4d29d",
      "name": "3rd Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message, 2nd message, 3rd message, 4th message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2140,
        3200
      ],
      "id": "7fc4897a-cd7f-4897-bc80-cd76561c1b21",
      "name": "4th Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message, 2nd message, 3rd message, 4th message, 5th message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2140,
        3820
      ],
      "id": "da3d15cf-02a0-4285-82c9-8501e9df1c7f",
      "name": "5th Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "contactId": "={{ $('Get Contact').item.json.id }}",
        "updateFields": {
          "tags": "={{ $('Get Contact').item.json.tags[0] }}, 1st message, 2nd message, 3rd message, 4th message, 5th message, 6th message"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        2140,
        4440
      ],
      "id": "3e182153-02f8-4238-be6f-7acefa3b7e58",
      "name": "6th Update",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('1st Update').item.json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -1520,
        4040
      ],
      "id": "a57e8f6c-a42c-47d8-8b72-46d6f62c30a9",
      "name": "1st DND Status Check",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('1st Update').item.json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -1520,
        4680
      ],
      "id": "3f87a01b-c6fb-4690-af5b-bd03b493842b",
      "name": "2nd DND Status Check",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('1st Update').item.json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        660,
        3460
      ],
      "id": "0919bf88-04a2-4a30-8d74-5f3e3914b571",
      "name": "3rd DND Status Check",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('1st Update').item.json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        660,
        4080
      ],
      "id": "1a55c58e-4891-4d27-ac68-d96b56cd52cd",
      "name": "4th DND Status Check",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $('1st Update').item.json.id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        660,
        4700
      ],
      "id": "1ea39bfe-5046-4d36-8fdd-8fc7b95997ed",
      "name": "5th DND Status Check",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"ProChat SMS Demo: Je ervaart nu onmiddellijke SMS-automatisering. Stel je de volgende scenario's eens voor, voor JOUW bedrijf! [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        3360
      ],
      "id": "1829a1d3-fbcc-4330-a70f-1b1d96620b79",
      "name": "Message 1.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('Get Contact').item.json.phone }}\",     \"message\": \"Nu volgt een korte demonstratie hoe SMS automatiseringen werkt voor verschillende gemiste oproepen scenario's... [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        3240
      ],
      "id": "157093ca-a4e3-45c6-a118-049eb85812b9",
      "name": "Message 1.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"Scenario 1: Antwoord op gemiste oproep: 'Sorry dat we je oproep gemist hebben! We zijn op het moment even niet beschikbaar' [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        4020
      ],
      "id": "c4a9e4c5-a4d6-4d18-bc91-844d9cbcb9b1",
      "name": "Message 2.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('1st Update').item.json.phone }}\", \"message\": \"'Boek een afspraak in onze agenda: [Jouw Agenda Link]' - Nooit meer een verloren lead en hoge klantevredenheid! - [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        3880
      ],
      "id": "cb3c8fee-b3c3-4160-a007-b29ea61ee4e3",
      "name": "Message 2.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"Scenario 2: Antwoord buiten sluitingstijd: 'Helaas zijn we gesloten maar we zijn weer beschikbaar op [Kantooruren].' [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1100,
        4680
      ],
      "id": "8307b15f-3446-4ada-b879-57dfe301ed01",
      "name": "Message 3.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"De kracht van SMS-automatisering. Met ProChat mis je NOOIT meer leads, maak je meer boekingen en bespaar je tijd en dus geld. [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        3440
      ],
      "id": "47c119a4-6d28-4cf5-8d70-58f2a087040f",
      "name": "Message 4.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('3rd Update').item.json.phone }}\",     \"message\": \"Klaar om te zien hoe ProChat in JOUW bedrijf past? Start vandaag nog een GRATIS proefperiode: is. https://is.gd/KQJkjr. [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        3320
      ],
      "id": "6e5650d9-3de8-439c-bcca-c73861a4389e",
      "name": "Message 4.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"Denk je nog steeds na over ProChat? Stel je eens voor dat je gemiste oproepen moeiteloos omzet in geboekte afspraken.. [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        4060
      ],
      "id": "0fbc1f8a-7afe-4e78-ac97-a164ff4fdc6b",
      "name": "Message 5.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('4th Update').item.json.phone }}\",     \"message\": \"Geen verloren leads meer die door de mazen van het net glippen! Probeer ProChat GRATIS & zie de impact: https://is.gd/KQJkjr. [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        3940
      ],
      "id": "afed9569-9877-4ce7-9529-ad6ce4a8600b",
      "name": "Message 5.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $json.phone }}\",     \"message\": \"Laatste kans om ProChat risicovrij te ervaren! Automatiseer SMS berichten, leg leads 24/7 vast en laat je bedrijf groeien. [SMS 1/2]\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        4680
      ],
      "id": "94972d38-bd54-45f8-bd64-baa416949301",
      "name": "Message 6.1",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('5th Update').item.json.phone }}\",     \"message\": \"Start nu jouw GRATIS ProChat proefperiode - het is eenvoudiger dan je denkt: https://is.gd/KQJkjr. - [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1700,
        4560
      ],
      "id": "e87b63e9-2bd0-4f2b-a3bd-7d7b8557df7a",
      "name": "Message 6.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        3300
      ],
      "id": "131f0115-cf81-43f8-a9b7-b0d430e6bcc6",
      "name": "If Succes 1.1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        3160
      ],
      "id": "f55aace1-c8c8-4459-b809-0fba11506ade",
      "name": "If Succes 1.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9921d947-7dc0-4c6f-b4b8-ae5206d9ec93",
              "leftValue": "={{ $json.dnd }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        4040
      ],
      "id": "cfa010d5-5d20-448b-889b-f00f7a165432",
      "name": "If Check 1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9921d947-7dc0-4c6f-b4b8-ae5206d9ec93",
              "leftValue": "={{ $json.dnd }}",
              "rightValue": "active",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        4680
      ],
      "id": "d38f5cac-324b-406e-91ba-c207480f5fbf",
      "name": "If Check 2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9921d947-7dc0-4c6f-b4b8-ae5206d9ec93",
              "leftValue": "={{ $json.dnd }}",
              "rightValue": "active",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        3460
      ],
      "id": "80260a33-a736-45ec-9347-60e059d909b9",
      "name": "If Check 3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9921d947-7dc0-4c6f-b4b8-ae5206d9ec93",
              "leftValue": "={{ $json.dnd }}",
              "rightValue": "active",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        4080
      ],
      "id": "b584b26c-5482-4b0e-ae1b-5c9fa54301c8",
      "name": "If Check 4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9921d947-7dc0-4c6f-b4b8-ae5206d9ec93",
              "leftValue": "={{ $json.dnd }}",
              "rightValue": "active",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        4700
      ],
      "id": "6ea6472a-4e99-4d8a-a9b8-b34b53a38023",
      "name": "If Check 5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -920,
        3940
      ],
      "id": "3a582446-b267-4847-b70a-c6fd408782e0",
      "name": "If Succes 2.1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -260,
        3820
      ],
      "id": "67ceba8b-197f-491c-a6c2-b44baf244d0c",
      "name": "If Succes 2.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        4600
      ],
      "id": "381c0ed0-70b9-4808-8698-a7ccab12c710",
      "name": "If Succes 3.1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.traccar.org/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={     \"to\": \"{{ $('2nd Update').item.json.phone }}\",     \"message\": \"'Of boek een afspraak: [Jouw Agenda Link].' - ProChat kan jouw klanten 24/7 beantwoorden, ook op feestdagen. - [SMS 2/2 - Afmelden? SMS 'STOP']\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -440,
        4560
      ],
      "id": "25e705b8-f218-4276-8c32-a41bbd065174",
      "name": "Message 3.2",
      "alwaysOutputData": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "iywM3XJKefBE7mp5",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        4480
      ],
      "id": "17837514-b300-4d5d-90f2-8d65380654fc",
      "name": "If Succes 3.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        3380
      ],
      "id": "46df5a42-7399-48ed-b588-d293571e8c69",
      "name": "If Succes 4.1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        3240
      ],
      "id": "8a4e6ebc-561e-4a36-9c82-9e90ba333c79",
      "name": "If Succes 4.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        4000
      ],
      "id": "bfa20c37-0022-4ef3-a62d-e174c87c67c7",
      "name": "If Succes 5.1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        3860
      ],
      "id": "f971cc8b-4778-41e0-ab38-a735446a3d47",
      "name": "If Succes 5.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1260,
        4600
      ],
      "id": "58779009-061b-4fe7-abd3-c5b8211ff37f",
      "name": "If Succes 6.1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "02bc39d6-0ee1-4580-90d2-5bcc7888493a",
              "leftValue": "={{ $json.successCount }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        4480
      ],
      "id": "55cf2a97-dd45-4f2c-8d39-34f0d4899045",
      "name": "If Succes 6.2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ace2dc2-9e07-4e36-8ff2-29c02f4d0d3c",
              "leftValue": "={{ $json.query.message }}",
              "rightValue": "stop",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e56f7b20-a538-4d8e-afb6-b46f8e9e63aa",
              "leftValue": "={{ $json.query.message }}",
              "rightValue": "STOP",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "76c8dba8-fec3-4f65-af64-6464ce1854cd",
              "leftValue": "={{ $json.query.message }}",
              "rightValue": "Stop",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -200,
        2760
      ],
      "id": "06e69feb-7d2a-4b29-86ec-3f21e317c14a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## STEP 1 - Initial missed call trigger from Android (Macrodroid)\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 360,
        "width": 680
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        2660
      ],
      "id": "d1a6acac-1c58-49bf-aad8-25560aa39a2d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Client SMS 'STOP' to unsubscribe\n**Triggered from Android (Macrodroid) [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 360,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        2660
      ],
      "id": "5681ef87-348a-44e6-a50a-e9de61dbf92b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "android-missed-call",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        2800
      ],
      "id": "33093bce-3178-4805-81dc-531adfd5adbf",
      "name": "Android Missed Call",
      "webhookId": "af284ce6-5ad8-43f3-9080-ed1247296488"
    },
    {
      "parameters": {
        "path": "dnd_sms",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -460,
        2760
      ],
      "id": "7188612e-3250-445d-b3f2-39d092ca1676",
      "name": "Android DND SMS",
      "webhookId": "d9010905-2575-4696-a883-803e385e1a37"
    },
    {
      "parameters": {
        "email": "={{ $json.query.email.replace(\" \",\"\") }}",
        "phone": "={{ $json.query.number }}",
        "additionalFields": {
          "tags": "missed call"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -840,
        2800
      ],
      "id": "4dd230f5-6dec-46de-8371-27c32f857650",
      "name": "New Missed Call Contact",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $json.query.email.replace(\" \",\"\") }}",
        "phone": "={{ $('Android DND SMS').item.json.query.number }}",
        "additionalFields": {
          "dnd": true
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        100,
        2740
      ],
      "id": "25bf1318-404f-4d3b-b719-82a67a7a04d4",
      "name": "Update DND Status",
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ghl-webhook-converter",
        "options": {
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        3360
      ],
      "id": "5a05c481-03f9-4864-95d3-87dc93657719",
      "name": "GHL Start SMS Demo",
      "webhookId": "fd27da56-54be-43ed-971f-9f0f45ec504c"
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.body.contact_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 2,
      "position": [
        -1360,
        3360
      ],
      "id": "a9b34356-15b8-4fe6-a60b-22b61c06550f",
      "name": "Get Contact",
      "alwaysOutputData": true,
      "credentials": {
        "highLevelOAuth2Api": {
          "id": "67TI5Cl6OW9YWniD",
          "name": "HighLevel account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Message 1 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 640,
        "width": 1600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        3040
      ],
      "id": "59b5b2e2-cdd3-477a-ac61-a89a30a71f0a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Message 2\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 620,
        "width": 1620
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        3720
      ],
      "id": "edd51b42-3017-4686-8475-ce4fe61975cf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Message 3 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 620,
        "width": 1640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        4380
      ],
      "id": "78085688-339e-4c8e-a284-b253a955ff8c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Message 4\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 620,
        "width": 1540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        3140
      ],
      "id": "d4ba62ec-07c2-4a2f-ab5d-347b969956b1",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Message 5 \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 580,
        "width": 1540
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        3800
      ],
      "id": "9b91f16f-d28d-43ca-a8ed-2e11cd06c875",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Message 6\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 600,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        4420
      ],
      "typeVersion": 1,
      "id": "e3c0f780-c504-4d77-a5f9-919588329c1a",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {},
  "repo_name": "n8n",
  "repo_owner": "prochattools",
  "repo_path": "suyhueHOyBPiAnl5.json",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-04-18T15:11:54.983Z",
  "versionId": "2a8c62f2-033c-40b1-862a-baa3a3026326"
}